/* Presets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

.absolute-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  font-family: "Roboto", sans-serif;
}
/* Header style */
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 40px;
  margin-right: auto;
}

.main-nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 24px 0;
  margin-right: 76px;
}

.span-nav-logo {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 20px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-contacts {
  display: flex;
  font-style: normal;
}

.nav-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* First Section style */
.hero-section {
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people_office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* Second Section style */
.info-section {
  padding: 120px 0;
}

.info-section-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.info-card {
  width: calc((100% - 72px) / 4);
}

.icon-container {
  display: flex;
  border: 1px solid #8e8f99;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
}

.info-card .info-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.info-card .info-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Third Section style */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-section-title {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.user-data {
  padding: 32px 0;
}

.user {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-photo {
  width: 100%;
}

.user-name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.user-position {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.user-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social {
  height: 40px;
  width: 40px;
}

.social-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* Fourth Section style */

.portfolio-section {
  background-color: #ffffff;
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.card {
  position: relative;
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-photo {
  width: 100%;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-data {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.card .portfolio-name {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.card .portfolio-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer style */
footer {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}

.footer-main-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.footer-first-container {
  margin-right: 120px;
}

.socials {
  display: flex;
  gap: 24px;
}

.socials-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #31d0aa;
}

.footer-social-text {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.socials-links {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-text-socials {
  margin-right: 192px;
}

.social-icons {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-title {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-title .span-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}

.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.suscribe-form-frame {
  margin-left: 16px;
  fill: #ffffff;
}

/* Hidden Form */
.backdrop {
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
}

.backdrop-form-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container {
  margin-bottom: 8px;
}

.form-margin-container {
  margin-bottom: 16px;
}
.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: #ffffff;
}

.backdrop-form-title {
  color: #2e2f42;
  text-align: center;
  margin: 0 auto 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-user-title {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-input-prop {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-prop:focus {
  border-color: #4d5ae5;
}

.input-container {
  position: relative;
}

.form-user-logo {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-prop:focus + .form-user-logo {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.form-input-prop-textarea {
  width: 100%;
  height: 120px;
  color: #2e2f4266;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-prop-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-text > .checkbox-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.icon-svg-checkbox {
  background-color: transparent;
}

.checkbox-text {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-policy-text {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.form-private-policy {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form-send-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-btn:hover,
.form-send-btn:focus {
  background-color: #404bbf;
}
