/* Main Presets */

:root {
  --clr-iris: #4d5ae5;
  --clr-ocean: #404bbf;
  --clr-nav-blue: #2e2f42;
  --clr-green: #31d0aa;
  --clr-slate: #434455;
  --clr-light-slate: #8e8f99;
  --clr-cornflower: #e7e9fc;
  --clr-cloud: #f4f4fd;
  --clr-nav-blue-modal: #2e2f4266;
  --clr-grey: #2e2f42b2;
  --clr-white: #ffffff;
  --clr-dairy: #fcfcfc;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--clr-slate);
  background-color: var(--clr-white);
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

/* Is-Open Style */

.is-open {
  visibility: visible;
}

/* ============ Header Mobile Style ============ */

/* Disable Nav Links for Mobile */

.nav-links {
  display: none;
}

/* Disable Nav Contacts for Mobile */

.nav-contacts {
  display: none;
}

.main-header {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  border-bottom: 1px solid var(--clr-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Style */

.main-nav-logo {
  color: var(--clr-iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.span-nav-logo {
  color: var(--clr-nav-blue);
}

/* ============ Hero Section  Mobile Style ============ */

.hero-section {
  min-width: 320px;
  padding: 72px 0 72px 0;
  background-image: linear-gradient(var(--clr-grey), var(--clr-grey)),
    url(/images/people_office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hero Title Style */

.hero-title {
  max-width: 200px;
  color: var(--clr-white);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto 72px;
}

/* Hero Button Style */

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  color: var(--clr-white);
  background-color: var(--clr-iris);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--clr-ocean);
}

/* ============ Info Section  Mobile Style ============ */

.info-section {
  padding: 96px 0;
}

/* Icon Container not avaible on mobile and tablet */

.icon-container {
  display: none;
}

/* Info Section List Style on mobile */

.info-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* Info Title Style */

.info-title {
  color: var(--clr-nav-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0 auto 8px;
  text-align: center;
  text-transform: capitalize;
}

/* Info Text Style */

.info-text {
  min-width: 100%;
  color: var(--clr-slate);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ Team Section  Mobile Style ============ */

.team-section {
  background-color: var(--clr-cloud);
  padding: 96px 28px;
}

/* Team Title Style */

.team-section-title {
  color: var(--clr-nav-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 72px;
}

/* Team Card Style */

.team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

/* Team User Style */

.user {
  min-width: 264px;
  background-color: var(--clr-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Team Photo Style */

.team-photo {
  width: 100%;
}

/* User Data Style */

.user-data {
  max-width: 232px;
  padding: 32px 0;
  margin: 0 auto;
  gap: 8px;
  background-color: var(--clr-white);
}

/* User Name Style */

.user-name {
  color: var(--clr-nav-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 8px;
}

/* User Position Style */

.user-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 8px;
}

/* User Socials List Style */

.user-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* User Social Style */

.social {
  width: 40px;
  height: 40px;
}

/* Social Link Style */

.social-link {
  display: flex;
  background-color: var(--clr-iris);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Social Icon Style */

.social-icon {
  fill: var(--clr-cloud);
}

/* Social Link Pseudo-classes Style */

.social-link:hover,
.social-link:focus {
  background-color: var(--clr-ocean);
}

/* ============ Portfolio Section  Mobile Style ============ */

.portfolio-section {
  padding: 96px 0;
}

/* Portfolio Title Style */

.portfolio-title {
  color: var(--clr-nav-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto 72px;
}

/* Portfolio Cards List Style */

.portfolio-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

/* Portfolio Card Style */

.card {
  position: relative;
  min-width: 288px;
  cursor: pointer;
}

/* Portfolio Card Pseudo-classes Style */

.card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Portfolio Photo Style */

.portfolio-photo {
  width: 100%;
}

/* Portfolio Overlay Style  */

.overlay {
  position: relative;
  overflow: hidden;
}

/* Portfolio Overlay Text Style */

.overlay-text {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 40px 32px;
  color: var(--clr-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--clr-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Card and Overlay Text Pseudo-classes Style */

.card:hover .overlay-text {
  transform: translateY(0%);
}

/* Portfolio Data Style */

.portfolio-data {
  padding: 32px 16px;
  border: 1px solid var(--clr-cornflower);
  border-top: none;
}

/* Portfolio Name Style */

.portfolio-name {
  color: var(--clr-nav-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Portfolio Type Style */

.portfolio-type {
  color: var(--clr-slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ Footer Section  Mobile Style ============ */

.main-footer {
  padding: 97.5px 0 96px 0;
  background-color: var(--clr-nav-blue);
}

/* Footer Title Style */

.footer-title {
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--clr-iris);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 17.5px;
}

.span-footer {
  color: var(--clr-cloud);
}

/* Footer Text Style */

.footer-text {
  max-width: 288px;
  color: var(--clr-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto 72px;
}

/* Footer Social Text Style */

.footer-social-text {
  color: var(--clr-white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 16px;
}

/* Social Links List Style */

.socials-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}

/* Social Style */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Social Pseudo-classes Style  */

.social:hover,
.social:focus {
  background-color: var(--clr-green);
}

/* Socials Link Style */

.socials-link {
  line-height: 0;
}

/* Social Icons Style */

.social-icons {
  fill: var(--clr-white);
}

/* Footer Form Container */

.footer-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Footer Form Title Style */

.footer-form-title {
  color: var(--clr-white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Subscribe Form Input Style */

.subscribe-form-input {
  display: block;
  min-width: 288px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--clr-white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--clr-white);
  border-radius: 4px;
  outline: none;
  margin-bottom: 16px;
  opacity: 0.3;
  transition: all 250ms linear;
}

/* Subscribe Form Input Pseudo-classes Style */

.subscribe-form-input:focus {
  color: var(--clr-white);
  border-color: var(--clr-white);
  opacity: 1;
}

/* Subscribe Form Button Style */

.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  margin: 0 auto;
  background-color: var(--clr-iris);
  color: var(--clr-white);
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms linear;
}

/* Subscribe Form Button Pseudo-classes Style */
.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: var(--clr-ocean);
}

/* Subscribe Form Frame Style */

.suscribe-form-frame {
  fill: var(--clr-white);
  margin-left: 16px;
}

/* ============ BackDrop Form  Mobile Style ============ */

.backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-nav-blue-modal);
  z-index: 100;
}

/* BackDrop Form Window Style */

.backdrop-form-window {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 288px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--clr-dairy);
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

/* Close Button Style */

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--clr-cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Close Button Pseudo-classes Style */

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: var(--clr-ocean);
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--clr-white);
}

/* BackDrop Title */

.backdrop-form-title {
  color: var(--clr-nav-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 72px;
  text-align: center;
  margin: 0 auto 16px;
}

/* Form Container Style */

.form-container {
  margin-bottom: 8px;
}

/* Form User Title */

.form-user-title {
  display: block;
  color: var(--clr-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

/* Form Input Prop Style */

.form-input-prop {
  min-width: 100%;
  padding-left: 34px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--clr-nav-blue-modal);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-input-prop:focus {
  border-color: var(--clr-iris);
}

/* Input Container Style */

.input-container {
  position: relative;
}

/* Form User Logo Style */

.form-user-logo {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Form Input Prop + User Logo Pseudo-classes Style */

.form-input-prop:focus + .form-user-logo {
  border-color: var(--clr-iris);
  fill: var(--clr-iris);
}

/* Form TexArea Style */

.form-input-prop-textarea {
  min-width: 100%;
  color: var(--clr-nav-blue-modal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  padding-left: 16px;
  padding-top: 8px;
  border: 1px solid var(--clr-nav-blue-modal);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Form TexArea Pseudo-classes Style */

.form-input-prop-textarea:focus {
  border-color: var(--clr-iris);
}

/* Checkbox Container Style */

.checkbox-container {
  margin-bottom: 24px;
}

/* CheckBox Icon Style */

.checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid var(--clr-nav-blue-modal);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  CheckBox Pseudo-classes Style*/

.checkbox:checked + .checkbox-text > .checkbox-icon {
  background-color: var(--clr-ocean);
  fill: var(--clr-cloud);
  border: none;
}

/* CheckBox Text Style */

.checkbox-text {
  color: var(--clr-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

/* Privacy Policy Text Style */

.privacy-policy-text {
  color: var(--clr-iris);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

/* Form Send Button Style */

.form-send-btn {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  background-color: var(--clr-iris);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--clr-white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Form Send Button Pseudo-classes Style */

.form-send-btn:hover,
.form-send-btn:focus {
  background-color: var(--clr-ocean);
}

/* Media for Burger Menu on cellphone  */

/* !!!!! In my opinion we don`t need to put min-width 320px in this case, cuz we already have max-width with 767px and it`s enough to cellphone */

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Mobile burger style */

  .mobile-nav-btn {
    border: none;
    background-color: transparent;
    line-height: 0px;
  }

  .nav-burger-logo {
    stroke: #2f2f37;
  }

  /* Mobile menu */

  .mobile-menu-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--clr-white);
    visibility: hidden;
    padding: 24px 24px 40px 16px;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  /* Mobile Menu Container Pseudo-classes Style */

  .mobile-menu-container:focus,
  .mobile-menu-container:focus {
    transform: translateX(0%);
  }

  /* Mobile Menu Container, where I put all content */

  .mobile-menu-items-container {
    position: relative;
  }

  /* Menu Close Button Style */

  .menu-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--clr-cornflower);
  }

  /* Menu List Style */

  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 48px;
    margin-bottom: 168px;
  }

  /* Menu Item Link Style */

  .menu-item-link {
    color: var(--clr-nav-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Menu Item Link Pseudo-classes Style */

  .menu-item-link:hover,
  .menu-item-link:focus {
    color: var(--clr-ocean);
  }

  /* Menu Contacts Style */

  .menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  /* Menu Address Link Style */

  .menu-address-link {
    color: var(--clr-slate);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Menu Address Link Pseudo-classes Style */

  .menu-address-link:hover,
  .menu-address-link:focus {
    color: var(--clr-iris);
  }

  /* Menu Socials List Style */

  .menu-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  /* Menu Social Link Style */

  .menu-social-link {
    line-height: 0;
  }

  /* Menu Social Style */

  .menu-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--clr-iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Menu Social Icon Style */

  .menu-social-icon {
    fill: var(--clr-cloud);
  }

  /* Menu Social Pseudo-classes Style */

  .menu-social:hover,
  .menu-social:focus {
    background-color: var(--clr-ocean);
  }
}

/* ============ Media for Tablet ============ */

@media screen and (min-width: 768px) {
  /* Hide Mobile Burger Button */

  .mobile-nav-btn {
    display: none;
  }

  .mobile-menu-container {
    display: none;
  }

  /* ============ Header Tablet Style ============ */

  .main-header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--clr-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  /* Header Container Style */

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Header Navigation Style */

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Navigation Links List Style */

  .nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 120px;
    margin-right: 121px;
  }

  /* Navigation Link Style */

  .nav-link {
    color: var(--clr-nav-blue);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Navigation Link Pseudo-classes Style */

  .nav-link:hover,
  .nav-link:focus {
    color: var(--clr-ocean);
  }

  /* Current Style */

  .current {
    color: var(--clr-ocean);
    position: relative;
  }

  /* Current Pseudo-classes Style */

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--clr-ocean);
  }

  /* Navigation Contacts Style */

  .nav-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* Navigation Contacts List Style */

  .nav-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  /* Address Link Style */

  .address-link {
    color: var(--clr-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Address Link Pseudo-classes Style */

  .address-link:hover,
  .address-link:focus {
    color: var(--clr-ocean);
  }

  /* ============ Hero Section Tablet Style ============ */

  .hero-section {
    min-width: 768px;
    padding: 112px 0;
  }

  /* Hero Title Style */

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
  }

  /* ============ Hero Section Tablet Style ============ */

  .info-section-list {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  /* Info Card Style */

  .info-card {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* ============ Info Section Tablet Style ============ */

  .team-card {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  /* ============ Portfolio Section Tablet Style ============ */

  .portfolio-cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  /* Card Style */

  .card {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* ============ Footer Tablet Style ============ */

  .main-footer {
    padding-left: 108px;
  }

  /* Footer Main Container Style */

  .footer-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
  }

  /* Footer First Container Style */

  .footer-first-container {
    display: flex;
    flex-direction: column;
    gap: 17.5px;
    align-items: center;
  }

  /* Footer Title Style */

  .footer-title {
    margin-bottom: 0;
    margin-left: 0;
  }

  /* Footer Text Style */

  .footer-text {
    max-width: 264px;
    margin: 0;
  }

  /* Footer Text Socials List Style */

  .footer-text-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  /* Footer Social Text Style */

  .footer-social-text {
    margin: 0;
  }

  /* Social Links List Style */

  .socials-links {
    margin-bottom: 0;
  }

  /* Footer Form Style */

  .footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
  }

  /* Footer Form Title Style */

  .footer-form-title {
    margin-right: auto;
  }

  /* Subscribe Form Input Style */

  .subscribe-form-input {
    min-width: 264px;
    margin-bottom: 0;
  }

  /* ============ BackDrop Tablet Style ============ */

  .backdrop-form-window {
    min-width: 408px;
  }

  /* Form User Logo Style */

  .form-user-logo {
    left: 17.5px;
  }
}

/* ============ Media for Laptop ============ */

@media screen and (min-width: 1158px) {
  /* Container Style */

  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* ============ Header Laptop Style ============ */

  /* Main Header Style */

  .main-header {
    padding: 24px;
  }

  /* Navigation Contacts List Style */

  .nav-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  /* Address Link Style */

  .address-link {
    font-size: 16px;
  }

  /* ============ Hero Section Laptop Style ============ */

  .hero-section {
    padding: 188px 0;
  }

  /* Hero Title Style */

  .hero-title {
    margin: 0 auto 48px;
  }

  /* ============ Info Section Laptop Style ============ */

  .info-section {
    padding: 120px 0;
  }

  /* Info Card Style */

  .info-card {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* Info Icon Container Style */

  .icon-container {
    display: flex;
    border: 1px solid var(--clr-light-slate);
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--clr-cloud);
    margin-bottom: 8px;
    border-radius: 4px;
  }

  /* Info Title Style */

  .info-title {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
  }

  /* Info Text Style */

  .info-text {
    font-weight: 400;
  }

  /* ============ Portfolio Section Laptop Style ============ */

  .portfolio-section {
    padding: 120px 0;
  }

  /* Portfolio Cards List Style */

  .portfolio-cards {
    row-gap: 48px;
  }

  /* Card Style */

  .card {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* ============ Footer Laptop Style ============ */

  .main-footer {
    padding: 101.5px 0 100px 0;
  }

  /* Footer Main Container Style */

  .footer-main-container {
    column-gap: 0;
    row-gap: 0;
  }

  /* Footer First Container Style */

  .footer-first-container {
    margin-right: 120px;
  }

  /* Gooter Text Socials */

  .footer-text-socials {
    margin-right: 80px;
  }

  /* ============ Footer Laptop Style ============ */

  .backdrop-form-window {
    padding-bottom: 24px;
  }

  /* Form User Logo Style */

  .form-user-logo {
    left: 16px;
  }
}

/* If the user has 2x resolution on screen we put this 2x bg to user`s device */

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(var(--clr-grey), var(--clr-grey)),
      url(/images/people_office@2x.jpg);
  }
}
